<%= render 'poem_image' %>
<h2 id="poem-title"><%= @poem_title %></h2><%= button_tag fa_icon("volume-up lg"), id: "keillorbot" %>
<br>
<p>
  <% @poem_content.each do |line| %>
      <% line.split.each do |word| %>
        <%= link_to word, poems_search_path(clicked_word:word, from_poem:1), method: :post, class: "poem-word" %>
    <% end %>
    <br>
  <% end %>
</p>

<%= render 'voice_params' %>
