<div id="poem-image">
    <%= render 'poem_image' %>
</div>

<div class="col-md-5 col-md-offset-1">
  <h2 id="poem-title"><%= @poem_title %></h2><%#= button_tag fa_icon("volume-up lg"), id: "keillorbot" %>
  <%= content_tag "div", id: "token", data: {token: @token } do %><% end %>
  <%= hidden_field_tag "title", "#{@poem_title}", id: "voice-title" %>
  <%= hidden_field_tag "poet", "#{@poem_poet}", id: "voice-poet" %>
  <%= hidden_field_tag "content", "#{@poem_content}", id: "voice-content" %>
  <h5 id="poem-poet">a marhov chain</h5><br>

  <p id="poem-body"><% @poem_content.each do |line| %>
    <% line.split.each do |word| %>
      <%= link_to word, poems_search_path(clicked_word:word, from_poem:1), method: :post, class: "poem-word" %><% end %><br><% end %>
  </p>
</div>

