<p id="notice"><%= notice %></p>

<p>
  <strong>Poet:</strong>
  <%= @poem.poet %>
</p>

<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @poem.content %>
</p>

<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
