  <div><%= f.label :location %><br />
  <%= f.text_field :location %></div>

  <div><%= f.label :birthday %><br />
  <%= f.date_field :birthday %></div>

  <div><%= f.label :twitter_handle %><br />
  <%= f.text_field :twitter_handle %></div>