    <div class="col-md-12">
      <h2 id="daily-matches-headline">Your Daily Matches</h2>
    </div>

    <div class="col-md-12">
      <ul id="daily-matches">
        <% @user_poems.each do |user_poem| %>
          <% poem = Poem.find(user_poem.poem_id) %>
          <li>
            <h4><%= link_to "#{poem.title}", "http://www.poemtoday.com/poems/#{poem.id}?keyword=#{user_poem.keyword_text}" %><small><%= " by #{poem.poet}" %></small></h4>

            <p><%= "#{user_poem.summary}" %>
              <% keyword_source = user_poem.keyword_source %>
              <% keyword_source_id = user_poem.keyword_source_id %>

              <% if keyword_source == "news" %>
                <% article = News.where(:url=>keyword_source_id).first %>
                 <i><%= link_to article.title, keyword_source_id, target: "_blank"  %></i> in the New York Times.
              <% elsif keyword_source == "twitter" %>
                <% tweet = Tweet.where(:id_str=>keyword_source_id).first %>
                your tweet, <i><%= link_to tweet.text, keyword_source_id, target: "_blank" %></i>
              <% end %>
            </p>
            <br>
          </li>
        <% end %>
        <%= render 'user_poems/profile_prompt' %>
    </div>

