    <div class="col-md-12">
      <h2 id="daily-matches-headline">Your Daily Matches</h2>
    </div>

    <div class="col-md-12">
      <ul id="daily-matches">
        <% @user_poems_with_summary.each do |ups| %>
          <li>
            <h4><%= link_to "#{ups[0].title}", poem_path(ups[0].id) %><small><%= " by #{ups[0].poet}" %></small></h4>
            
            <p><%= "#{ups[1].keys.pop}" %>
              <% keyword_source = ups[1].values.pop.keys.pop %>
              <% keyword_source_id = ups[1].values.pop.values.pop %>
              <% if keyword_source == "news" %>
                <% article = News.where(:url=>keyword_source_id).first %>
                 <i><%= link_to article.title, keyword_source_id, target: "_blank"  %></i> in the New York Times.
              <% elsif keyword_source == "twitter" %>
                <% tweet = Tweet.where(:id_str=>keyword_source_id).first %>
                your tweet, <i><%= link_to tweet.text, keyword_source_id, target: "_blank" %></i>
              <% end %>
            </p>
            <br>
          </li>
        <% end %>
    </div>

