<ul>
  <% @user_poems_with_content.each do |upc| %>
    <li>
      <h4><%= link_to "#{upc[1].title}", poem_path(upc[1].id) %></h4>
      <%= "By #{upc[1].poet}" %><br>
      <%= "#{upc[0].created_at.strftime("%B %d")}" %><br>
      <%= "Match Type: #{upc[0].match_type.capitalize}" %><br>
      <% if !upc[0].keyword_text.nil? %>
        <%= "Match Score: #{upc[0].match_score}" %><br>
        <%= "Keyword: #{upc[0].keyword_text.capitalize}" %><br>
        <%= "Keyword Source: #{upc[0].keyword_source.humanize}" %><br>
        <%= "Keyword Source Info: #{upc[0].keyword_source_id}" %>
      <% end %>
    </li>
  <% end %>
</ul>

