<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p><%= "Good morning, #{@user.first_name}" %></p>
      <p>Here is your poem today:</p>
      <h4><%= @poem.title %></h4>
      <p><%= "by #{@poem.poet}" %></p>
      <p><%= simple_format(@poem.content) %></p>
      <p><%= "And the link... #{@poem_url}" %></p>
  </body>
</html>

<!-- 
  poem title as subject
  poem title
  poet
  poem

  you were matched to this poem today because...
  weather summar... don't forgot to enjoy / umbrella...
  oh and merry christmas

-->