<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

      <h4><%= link_to "#{@poem.title}", "http://www.poemtoday.com/poems/#{@poem.id}?keyword=#{@user_poem.keyword_text}"  %></h4>
      <p><%= "by #{@poem.poet}" %></p>
      <p><%= simple_format(@poem.content) %></p>
      <br>
      <br>
      <p><%= "Good morning #{@user.first_name}," %></p>
      <p><%= @summary %>
        <% keyword_source_id = @user_poem.keyword_source_id %>
        <% if @user_poem.keyword_source == :news %>
          <% article = News.where(:url=>keyword_source_id).first %>
          <i><%= link_to article.title, keyword_source_id, target: "_blank"  %></i> in the New York Times.
        <% elsif @user_poem.keyword_source == :twitter %>
          <% tweet = Tweet.where(:id_str=>keyword_source_id).first %>
          your tweet: <i><%= link_to tweet.text, keyword_source_id, target: "_blank" %></i>.
        <% end %>
      </p>
      <% if @forecast.present? %>
        <p><%= "Here's the weather forecast for #{@user.location}: " %><i><%= @forecast %></i><p>
      <% end %>
      <p>Have a good day,</p>
      <p>PoemToday</p>

  </body>
</html>
