<!DOCTYPE html>
<html>
<head>
  <title>PoemToday</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//static.twilio.com/libs/twiliojs/1.1/twilio.min.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'icon_31093.png' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div id="redstripe"></div>
  <br>
  <div class="container-fluid wrapper">
    <%= render 'layouts/navigation' %>
    <div class="row notice-spacer">
      <%= render 'layouts/notices' %>
    </div>
    <div class="row">
      <%= yield %>
    </div>  
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
