<!DOCTYPE html class="pace pace-progress">
<html>
<head>
  <title>PoemToday</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//static.twilio.com/libs/twiliojs/1.1/twilio.min.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'icon_31093.png' %>
  
  <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
  

  <%= csrf_meta_tags %>
</head>
<body id="body" class="">
<br>

<%= render 'layouts/navigation' %>
<%= render 'layouts/notices' %>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
